
.container {
    margin: 0 5%;
}
h2, h3, h4 {
    text-align: center;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .container {
        margin: 0 20%;
    }
}

